#Formulaire>#Button_container,#Impression>#Button_container{
    display: flex;
    align-items: center;
    background-color: #c4c4c4;

    border:2px solid black;
    border-radius: 11px;
}

#Formulaire>#Button_container{
    
    width: 30%;

    margin-left: 30%;
    margin-bottom: 5%;


}

#Impression>#Button_container{

    width: 30%;

    margin-left: 10%;
    margin-bottom: 5%;
    
}


#Formulaire>#Button_container>p,#Impression>#Button_container>p{
    margin-left:10%;
}


.button_img{
    width: 40px;
    height: 40px;

    margin-left: 3%;
}


#Impression>#Button_container>p{
    margin-right: 10%;
}


.Button_disable{
    pointer-events: none;
    opacity:0.5;
    transition: opacity .5s;
}

.Button_enable{
    cursor:pointer;
    opacity: 1;
    transition: opacity .5s;
}