<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style/home/template.css">


    <title>Delpharm</title>
</head>

<body>

    <main>


        <div id="div1">


            <div class="Container tabs">

                <div class="title-tabs" id="tabs-left">
                    <div id="tab-left-0" class="title-on">Formulaire</div>
                    <div id="tab-left-1" class="title-off">Produit de référence</div>
                    <div id="tab-left-2" class="title-off">Utilisateur</div>

                </div>

                <div id="tab-content-left-0">
                    <div class="Input_container">
                        <p>Numéro contrôleur</p>
                        <input type="text" id="numero-controleur" placeholder="Numéro" maxlength="4">
                    </div>
    
                    <div class="Input_container">
                        <p>Référence produit</p>
                        <input type="text" id="ref-produit" placeholder="Référence" maxlength="6">
                    </div>
    
                    <div class="Input_container">
                        <p>Service de production</p>
                        <select name="Production" id="List_production">
                            <option value="null">Production</option>
                        </select>
                    </div>
    
                    <div class="Input_container">
                        <p>Numéro du poste</p>
                        <select name="Name_post" id="Name_post">
                            <option value="null">Poste</option>
                        </select>
                    </div>
    
                    <div class="Input_container">
                        <p>Poids du produit</p>
                        <span id="Poids_produit">10</span>
                        <p>g</p>
                    </div>
    
                    <div class="Input_container">
                        <p>Variation</p>
                        <span id="Variation">10</span>
                        <p>g</p>
                    </div>
    
                    <div class="Input_container">
                        <p>Nombre de produit (s)</p>
                        <input type="range" name="nb_produit" id="nb_produit" max="50" min="1" st>
                        <span id="value_produit">0</span>
                    </div>

                    <span id="formulaire" class="error-message"></span>

    
                    <div id="Button_container" class="send-button" >
                        <p class="texte-button">Envoyer</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>
                    
                </div>

                <div id="tab-content-left-1">

                    <div class="Input_container">
                        <p>Nom du produit</p>
                        <input type="text" name="nom_produit_reference" id="nom_produit_reference">
                    </div>

                    <div class="Input_container">
                        <p>Référence</p>
                        <input type="text" name="reference_produit" id="reference_produit" maxlength="6">
                    </div>

                    <div class="Input_container">
                        <p>Poids du produit</p>
                        <input type="text" name="poids_produit_reference" id="poids_produit_reference">
                    </div>

                    <span id="produit-reference" class="error-message"></span>

                    <div id="Button_container" class="send-button" >
                        <p class="texte-button">Envoyer</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>

                </div>

                <div id="tab-content-left-2">

                    <div class="Input_container">
                        <p>Identifiant</p>
                        <input type="text" name="identifiant_utilisateur" id="identifiant_utilisateur" maxlength="4">
                    </div>

                    <div class="Input_container">
                        <p>Nom</p>
                        <input type="text" name="nom_utilisateur" id="nom_utilisateur">
                    </div>

                    <div class="Input_container">
                        <p>Prénom</p>
                        <input type="text" name="prenom_utilisateur" id="prenom_utilisateur">
                    </div>

                    <div class="Input_container">
                        <p>Adresse mail</p>
                        <input type="text" name="mail_utilisateur" id="mail_utilisateur">
                    </div>

                    <span id="utilisateur" class="error-message"></span>

                    <div id="Button_container" class="send-button" >
                        <p class="texte-button">Envoyer</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>

                </div>

            </div>

            <section id="Impression" class="Container">

                <div id="Button_container" class="print-button">
                    <p class="texte-button">Imprimer</p>
                    <img class="button_img" src="/static/images/home/Print.svg" alt="Imprimer">
                </div>

                <div id="Select_part">

                    <div id="Print_rapport">
                        <input type="radio" name="Print_choice" id="rapport" checked>
                        <label for="rapport">Rapport</label>
                    </div>

                    <div id="Print_graphique">
                        <input type="radio" name="Print_choice" id="graphique">
                        <label for="graphique">Graphique</label>
                    </div>

                </div>

            </section>

        </div>

        <div id="div2">

            <div id="Logo">
                <p>Delpharm</p>
                <img src="/static/images/home/Logo.jpg"  title="Image delpharm">
            </div>

            <div class="Container tabs">

                <div class="title-tabs" id="tabs-right">
                    <div id="tab-right-0" class="title-on">Graphique</div>
                    <div id="tab-right-1" class="title-off">Rapport</div>
                </div>


                <div id="tab-content-right-0" class="display-on">
                    <div>
                        <select name="produit-graphique" id="produit-graphique">

                        </select>
                            <input type="range" min=0 max=10 name="Nb_echantillion" id="Nb_echantillion">
                            <span id="value-echantillion">0</span>                        
                    </div>
                </div>

                <div id="tab-content-right-1" class="display-off">
                    <table>
                        <tr id="header-tab">
                            <th>Date et Heure</th>
                            <th>Contrôleur</th>
                            <th>Service de production</th>
                            <th>Nom du poste</th>
                            <th>Référence produit</th>
                            <th>Mesure (g)</th>
                            <th>Référence (g)</th>
                            <th>Variation (g)</th>
                            <th>Conforme</th>
                        </tr>

                        <tr>
                            <td>18/02/2021 20h00</td>
                            <td>Dorian</td>
                            <td>A</td>
                            <td>5</td>
                            <td>1245</td>
                            <td>12</td>
                            <td>12.5</td>
                            <td>0.5</td>
                            <td>oui</td>
                        </tr>
                        
                    </table>
                </div>

            </div>

            <!--
            <section id="Graphique">


        </section>
        -->

        </div>
    </main>
</body>

</html>

<script type="text/javascript" src="/static/script/home/request.js"></script>
<script type="text/javascript" src="/static/script/home/toolbox.js"></script>
<script type="text/javascript" src="/static/script/home/script.js"></script>
<script type="text/javascript" src="/static/script/home/slider.js"></script>
<script type="text/javascript" src="/static/script/home/tabs.js"></script>
<script type="text/javascript" src="/static/script/home/select.js"></script>