<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style/home/button.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/formulaire.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/impression.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/logo.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/tableau.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/template.css">
    <link rel="stylesheet" type="text/css" href="/static/style/home/header-footer.css">


    <title>Delpharm</title>
</head>

<body>

    <header> 
        <p>Delpharm</p>  
        <img src="/static/images/logo/logo.png"  title="Image delpharm">
    </header>

    <main>


        <div id="div1">

            <div class="hr-div">
                <p>Formulaire</p>
                <hr>
            </div>
            
            <div class="Container tabs">

                <div class="title-tabs" id="tabs-left">
                    <div id="tab-left-0" class="title-on">Rapport</div>
                    <div id="tab-left-1" class="title-off">Produit de référence</div>
                    <div id="tab-left-2" class="title-off">Contrôleur</div>
                    <div id="tab-left-3" class="title-off">Imprimer</div>

                </div>

                <div id="tab-content-left-0">
                    <div class="Input_container">
                        <p>Numéro contrôleur</p>
                        <input type="text" id="numero-controleur" placeholder="Numéro" maxlength="4">
                    </div>
    
                    <div class="Input_container">
                        <p>Référence produit</p>
                        <select name="ref-produit" id="ref-produit">
                            <option value="Produit" class="Element_list">Produit</option>
                        </select>
                    </div>

                    <div class="Input_container">
                        <p>Numéro du poste</p>
                        <input type="text" name="Name_post" id="Name_post" placeholder="Numéro de poste" maxlength="4">
                    </div>
    
                    <div class="Input_container">
                        <p>Service de production</p>
                        <select name="Production" id="List_production">
                            <option value="A" class="Element_list">A</option>
                            <option value="B" class="Element_list">B</option>
                            <option value="C" class="Element_list">C</option>
                            <option value="D" class="Element_list">D</option>
                            <option value="E" class="Element_list">E</option>
                            <option value="F" class="Element_list">F</option>
                            <option value="G" class="Element_list">G</option>
                            <option value="H" class="Element_list">H</option>

                        </select>
                    </div>
    
                    <div class="Input_container">
                        <p>Poids du produit</p>
                        <div class="container-span"><span id="Poids_produit">0g</span></div>
                    </div>
    
                    <div class="Input_container">
                        <p>Variation</p>
                        <div class="container-span"><span id="Variation">0g</span></div>
                    </div>

                    <div class="Input_container">
                        <p>Conformité</p>
                        <div class="container-span"> <img src="" id="Conforme"></span></div>
                    </div>
    
                    <div class="Input_container">
                        <p>Nombre de produit (s)</p>
                        <input type="range" name="nb_produit" id="nb_produit" max="50" min="1" value="0">
                        <span id="value_produit">1</span>
                    </div>

                    <div class="peser-button Button_container" >
                        <p class="texte-button" id="texte-peser">Peser</p>
                        <img class="button_img" id="img-button-peser" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>

                    <span id="formulaire"></span>

    
                    <div class="send-button Button_container" >
                        <p class="texte-button">Envoyer</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>
                    
                </div>

                <div id="tab-content-left-1">

                    <div class="Input_container">
                        <p>Nom du produit</p>
                        <input type="text" name="nom_produit_reference" id="nom_produit_reference" placeholder="Nom">
                    </div>

                    <div class="Input_container">
                        <p>Référence</p>
                        <input type="text" name="reference_produit" id="reference_produit" placeholder="Référence" maxlength="6">
                    </div>

                    <div class="Input_container">
                        <p>Poids du produit</p>
                        <input type="text" name="poids_produit_reference" id="poids_produit_reference" placeholder="Poids">
                    </div>

                    <span id="produit-reference"></span>

                    <div class="send-button Button_container" >
                        <p class="texte-button">Ajouter</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>

                </div>

                <div id="tab-content-left-2">

                    <div class="Input_container">
                        <p>Identifiant</p>
                        <input type="text" name="identifiant_utilisateur" id="identifiant_utilisateur" placeholder="Identifiant" maxlength="4">
                    </div>

                    <div class="Input_container">
                        <p>Nom</p>
                        <input type="text" name="nom_utilisateur" id="nom_utilisateur" placeholder="Nom">
                    </div>

                    <div class="Input_container">
                        <p>Prénom</p>
                        <input type="text" name="prenom_utilisateur" id="prenom_utilisateur" placeholder="Prénom">
                    </div>

                    <div class="Input_container">
                        <p>Adresse mail</p>
                        <input type="text" name="mail_utilisateur" id="mail_utilisateur" placeholder="Mail">
                    </div>

                    <span id="utilisateur"></span>

                    <div class="send-button Button_container" >
                        <p class="texte-button">Ajouter</p>
                        <img class="button_img" src="/static/images/home/Send.svg" alt="Envoyer">
                    </div>

                </div>

                <div id="tab-content-left-3">

                    <div id="container-impression">
                        <div class="print-button Button_container">
                            <p class="texte-button">Imprimer</p>
                            <img class="button_img" src="/static/images/home/Print.svg" alt="Imprimer">
                        </div>
        
                        <div id="Select_part">
        
                            <div id="Print_rapport">
                                <input type="radio" name="Print_choice" id="rapport" checked>
                                <label for="rapport">Rapport</label>
                            </div>
        
                            <div id="Print_graphique">
                                <input type="radio" name="Print_choice" id="graphique">
                                <label for="graphique">Graphique</label>
                            </div>
        
                        </div>
                        
                    </div>
                    
                </div>

            </div>

        </div>

        <div id="div2">

            <div class="hr-div">
                <p>Consultation</p>
                <hr>
            </div>

            <div class="Container tabs">

                <div class="title-tabs" id="tabs-right">
                    <div id="tab-right-0" class="title-on">Graphique</div>
                    <div id="tab-right-1" class="title-off">Rapport</div>
                    <div id="tab-right-2" class="title-off">Contrôleur</div>
                    <div id="tab-right-3" class="title-off">Produit de référence</div>

                </div>


                <div id="tab-content-right-0" class="display-on">
                    <div>
                        <select name="produit-graphique" id="produit-graphique"></select>
                            <input type="range" min=0 max=10 name="Nb_echantillion" id="Nb_echantillion">
                            <span id="value-echantillion">0</span>                        
                    </div>
                </div>

                <div id="tab-content-right-1" class="display-off">
                    <table id="table-rapport">
                        <tr class="header-tab">
                            <th>Id</th>
                            <th>Contrôleur</th>
                            <th>Date et Heure</th>
                            <th>Service de production</th>
                            <th>Nom du poste</th>
                            <th>Référence produit</th>
                            <th>Mesure (g)</th>
                            <th>Variation (g)</th>
                            <th>Conforme</th>
                            <th>Nombre de produit(s)</th>
                        </tr>
                        
                    </table>
                </div>

                <div id="tab-content-right-2" class="display-off">
                    <table id="table-utilisateur">
                        <tr class="header-tab">
                            <th>Identifiant</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Mail</th>
                        </tr>
                        
                    </table>
                </div>

                <div id="tab-content-right-3" class="display-off">
                    <table id="table-produit-reference">
                        <tr class="header-tab">
                            <th>Référence</th>
                            <th>Grammes</th>
                            <th>Nom</th>
                        </tr>
                        
                    </table>
                </div>

            </div>



        </div>
    </main>

    <footer>
        <p>Delpharm project. Node Js / Express. Dorian Gauron ©</p>
    </footer>

</body>

</html>

<script type="text/javascript" src="/static/script/home/request.js"></script>
<script type="text/javascript" src="/static/script/home/send_button.js"></script>
<script type="text/javascript" src="/static/script/home/slider.js"></script>
<script type="text/javascript" src="/static/script/home/animation_tabs.js"></script>
<script type="text/javascript" src="/static/script/home/graphique.js"></script>
<script type="text/javascript" src="/static/script/home/tableaux.js"></script>
<script type="text/javascript" src="/static/script/home/poids.js"></script>

