.Button-container{
    display: flex;
    align-items: center;
    background-color: #c4c4c4;

    border:2px solid black;
    border-radius: 11px;

    transition: all .5s;
}

.send-button,#peser-button{
    width: 20%;
    margin:0 auto;
}

#send-button-formulaire{
    opacity: 0.5;
    pointer-events: none;
}

.print-button{

    width: 23%;

    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 6%;
    
}

#Button-container:hover{
    transform: scale(1.05,1.05);
}

.texte-button{
    margin-left:10%;
}


.button-img{
    width: 40px;
    height: 40px;
    margin-left: 3%;
}


#Impression>#Button-container>p{
    margin-right: 10%;
}

.load{
    animation: load-animation infinite;
}

.load:hover{
    width: 60px;
}
@keyframes load-animation{
    0%{
        width: 50px;
    }

    100%{
        width: 100px;
    }
}