.Button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#f1f2f6;

    border:2px solid black;
    border-radius: 8px;

    width: 120px;

    transition: all .5s;

    cursor:pointer
}


.button-img{
    width: 30px;
}


#send-button-formulaire{
    opacity: 0.5;
    pointer-events: none;
}

.print-button{

    width: 23%;

    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 6%;
    
}

.Button-container:hover{
    transform: scale(1.05,1.05);
    background-color: #ced6e0;
}



#Impression>#Button-container>p{
    margin-right: 10%;
}



.refresh-button{
    position: relative;
    background-color: #ced6e0;
    border-radius: 50px;
    width: 3%;
    top:4;
    right: 0;
    display: inline-grid;
    justify-content: center;
}


.refresh-button-img{
    width: 24px;
    padding: 4px;
    
}

.refresh-button-img-trigger{
    width: 24px;
    padding: 4px;
    animation-duration: .5s;
    fill:red;
    animation-name: refresh-animation;
}

@keyframes refresh-animation{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(0deg);
    }
}