#Button_container{
    display: flex;
    align-items: center;
    background-color: #c4c4c4;

    border:2px solid black;
    border-radius: 11px;

    transition: all .5s;
}

.send-button{
    
    width: 20%;
    margin:0 auto;

}


.print-button{

    width: 23%;

    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 6%;
    
}

#Button_container:hover{
    transform: scale(1.05,1.05);
}

.texte-button{
    margin-left:10%;
}


.button_img{
    width: 40px;
    height: 40px;
    margin-left: 3%;
}


#Impression>#Button_container>p{
    margin-right: 10%;
}
