#tab-content-left-0{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: auto;

    animation: slide-in .5s ease-in;
}

#tab-content-left-1,#tab-content-left-2{
    display: none;
    flex-direction: column;

    animation: slide-in .5s ease-in;
}

.Input_container{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
}

input[type="text"]{
    cursor: pointer;
    padding: 8px 20px;
    font-size: 12px;
    border: 1.5px solid #000000;
    border-radius: 20px;
}

input[type="text"],select,#Poids_produit,#Variation{
    margin-left: 10%;
    outline: none;
}

#nb_produit{
    margin-left: 10%;
    margin-right: 5%;
}

select{
    font-size: 20px;
    width: 23%;
}

.error-message{
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: slide-in .5s ease-in;
}

.container-span{
    margin-right: 5%;
    white-space: nowrap;
}

.numero-controleur-trigger{
    animation: trigger 1.5s;
}

@keyframes trigger{
    0%{
        border: 1.5px solid red;
    }

    50%{
        margin-left: 15%;
    }

    100%{
        border: 1.5 px solid black;
        margin-left: 10%;
    }
}

