table,td,th{
    border:1px solid #ddd;
}

.container-table{
    margin-top: 1%;
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all .5s ease-in;
}

tr{
    background-color: white;
}

td{
    text-align: center;
}

table{
    margin-top: 1%;
    width:100%;
    border-collapse: collapse;
}

th{
    font-weight: 100;
    color: white;
}

tr:not(.header-tab):hover{
    background-color: #74b0c591;
    transition: all .6s;

}

.header-tab{
    background-color: #60a3bc;
}

.data-from-BDD{
    animation-name: data-apparition;
    animation-duration: 3.5s;
    opacity: 1;
    transition: all 3.5s ease-in-out;
}

@keyframes data-apparition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}