table,td,th{
    border:1px solid #ddd;
}

tr{
    background-color: white;
}

td{
    text-align: center;
}

table{
    margin-top: 1%;
    width:100%;
    border-collapse: collapse;
}

th{
    transition: all .5s ease;
}

th:hover{
    background-color: #ddd;
    transition: all .3s;

}

.header-tab{
    background-color: antiquewhite;
}

.data-from-BDD{
    animation-name: test;
    animation-duration: 2s;
    opacity: 1;
}

@keyframes test {
    0%{
        border-collapse: collapse;
        border: 1px solid #ddd;
        border-style: solid;
        opacity: 0;
    }
    100%{
        border-collapse: collapse;
        border: 1px solid #ddd;
        background-color: white;
        border-style: solid;
        opacity: 1;
    }
}